.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}
img {
    grid-column: 1/2;
    grid-row: 1/2;
}
.cherry {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: grey;
    position: relative;
}
h2 {
    color: red;
    position: absolute;
    bottom: 0;
    font-size: 20px;
}
h1{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
    align-self: center;
}